@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Helvetica";
    margin: 2;
    padding: 20;
}

.page {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}



.card-body.two{
    background: #ff9bd7;
  }

  .container{
    width: 65%;
  }

.formPreM {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 50px;
    align-content: center;
    
}

.formPreM h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;

}

.formPreM p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formPreM input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formPreM input:focus {
    border: 1px solid #ff95c5;
}

.formPreM label {
    font-size: 14px;
    font-weight: 300;
}

.formPreM a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
    
}

.formPreM a:hover {
    color: #ff73b2;
}


form textarea{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
    
}


.caixa {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .caixa input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  
  .caixa:hover input ~ .checkmark {
    background-color: #ccc;
  }
  

  .caixa input:checked ~ .checkmark {
    background-color: #ff6adf;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .caixa input:checked ~ .checkmark:after {
    display: block;
  }
  
 
  .caixa .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  select.basic {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
  }
