body{
    background: #fff9e7;
}
.header-site{
    background-image: url(../img/img_Home/inicio.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
    padding: 15% 15%;
}

.aviso-site{
  background-image: url(../img/img_PreMatricula/banner_matricula1.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size:cover;
  
  color: #000000;
  padding: 17% 20%;
}

.btn.btn-primary{
    background: #afcd53;
    border: 1px solid #CCCCCE;
    border-radius: 20;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align:center;
    text-transform: uppercase;
    position: relative;

}
   

   .btn.btn-primary:active{
    background: #afcd53;
    text-align: center;
    border: 1px solid #CCCCCE;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
   }

   .btn.btn-secondary{
    background: #ff9946;
    border: 1px solid #CCCCCE;
    border-radius: 20;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align:start;
    text-transform: uppercase;
    position: relative;

}
   

   .btn.btn-secondary:active{
    background: #ff9946;
    text-align: center;
    border: 1px solid #CCCCCE;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
   }

   .btn.btn-terceiro{
    background: #ff9bd7;
    border: 1px solid #CCCCCE;
    border-radius: 20;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
  
  }
  
  .btn.btn-terceiro:active{
    background: #ff9bd7;
    text-align: center;
    border: 1px solid #CCCCCE;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
    color: #fff;
   }

  .btn.btn-quarto{
    background: #9bbbff;
    border: 1px solid #CCCCCE;
    border-radius: 20;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #FFF;
    text-transform: uppercase;
    position: relative;
  
  }
  
  .btn.btn-quarto:active{
  background: #9bbbff;
  border: 1px solid #CCCCCE;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
  top: 4px;
  color: #fff;
  }

  .modal-body.two {
    height: 20vh;
    display: flex;
    padding: 0 4em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

  .card-body{
    background: #afcd53;
  }

  
  .card-body.three{
    background: #9bbbff;
  }

  .content-site{
    font-family: system-ui, 'Segoe UI', 'Open Sans';
  }

  .container2{
    background: #ffffff;
    height: 30vh;
  }

  .slider-container{
    height: 450px;
    margin: 0;
    align-items: center;
    justify-items: center;
  }

  