*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff9e7;
}
    @media screen and (max-width: 600px){
    body{
        font-size: 14px;
    }
}

    

section{
    border: 2px solid #ff9bd7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #fff;
    width: 500px;
}
section h2{
    color: #000000;
    font-size: 30px;
    margin: 20px;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #000000;
    font-size: 15px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 3px solid #ff9bd7;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 3px solid #ff9bd7;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 3px solid #ff9bd7;
    color: #000000;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #000000;
    border-radius: 16px;
    background: linear-gradient(#fff9e7,#ff9bd7);
}

/* Paginha do Obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;
    flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}

@media screen and (max-width:600px){
    
}
.form input{
    width: 50% ;
    margin: auto;
}